Source: reprepro-conf
Section: utils
Priority: extra
Maintainer: Marcin Antczak <marcin.antczak@neutrico.pl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/marcinant/reprepro-conf
Vcs-Git: ssh://git@github.com/marcinant/deb-reprepro-conf.git
Vcs-Browser: https://github.com/marcinant/deb-reprepro-conf

Package: reprepro-conf
Architecture: all
Depends: ${misc:Depends}, reprepro (>= 4.6.0)
Description: Debian package repository producer configuration.
 Configuration package for reprepro
