#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

DEB_SRC := $(shell dpkg-parsechangelog | grep Source: | cut -d ' ' -f2)

%:
	dh $@ 

override_dh_fixperms:
	dh_fixperms

	chgrp -R adm $(CURDIR)/debian/$(DEB_SRC)/var/cache/reprepro
	chgrp -R adm $(CURDIR)/debian/$(DEB_SRC)/var/lib/reprepro
	chgrp -R adm $(CURDIR)/debian/$(DEB_SRC)/var/log/reprepro

	chmod -R 775 $(CURDIR)/debian/$(DEB_SRC)/var/cache/reprepro
	chmod -R 775 $(CURDIR)/debian/$(DEB_SRC)/var/lib/reprepro
	chmod -R 775 $(CURDIR)/debian/$(DEB_SRC)/var/log/reprepro

	chmod -R 755 $(CURDIR)/debian/$(DEB_SRC)/etc/profile.d/reprepro.sh